.dashboard-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .dashboard-main {
        flex: 1;
        display: flex;
    }

    .dashboard-container {
        height: 100%;
        overflow-y: auto;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    
    .dashboard-content {
        flex: 1;
    }
}
