.dashboard-wrap {
    .dashboard-main {
        margin-top: 40px;
        clear: both;
        overflow: hidden;
    }

    .dashboard-container {
        margin-left: 200px;
    }
    
    .dashboard-content {
    }
}
