{
    "presets": [
        "@babel/react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties", // class的方法可以用箭头函数自动bind this
        ["@babel/plugin-transform-runtime", {
            "corejs": 3
        }]
    ]
}
