.layout2-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .layout2-header {
        height: 40px;
        line-height: 40px;
        border-bottom: $border;
    }

    .layout2-main {
        flex: 1;
        display: flex;
    }

    .layout2-side {
        flex: 0 0 200px;
        height: 100%;
        overflow-y: auto;
        border-left: $border;
    }

    .layout2-container {
        height: 100%;
        overflow-y: auto;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    
    .layout2-content {
        flex: 1;
    }

    .layout2-footer {
        height: 40px;
        line-height: 40px;
        border-top: $border;
    }
}

