.menu-wrap {
    width: 200px;
    height: 100%;
    overflow-y: auto;
    border-right: $border;
    float: left;
    .menu-item {
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
}
